name: Rust

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    tags:
      - 'v*.*.*'
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose

  release:
    needs: build
    if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/v')
    permissions:
      contents: write
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            asset_name: gitz-cli-x86_64-linux-gnu
            is_linux: true
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            asset_name: gitz-cli-x86_64-windows.exe
            is_linux: false
          - os: macos-latest
            target: x86_64-apple-darwin
            asset_name: gitz-cli-x86_64-apple-darwin
            is_linux: false
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Get short SHA
        id: sha
        run: echo "sha=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT



      - name: Build release binary
        run: |
          rustup target add ${{ matrix.target }}
          cargo build --release --verbose --target ${{ matrix.target }}
        shell: bash

      - name: Prepare release asset
        shell: bash
        run: |
          binary_path="target/${{ matrix.target }}/release/gitz-cli"
          if [ "${{ matrix.os }}" = "windows-latest" ]; then
            binary_path="${binary_path}.exe"
          fi
          mv "${binary_path}" "${{ matrix.asset_name }}"
          echo "ASSET=${{ matrix.asset_name }}" >> $GITHUB_ENV

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ env.ASSET }}
          prerelease: ${{ !startsWith(github.ref, 'refs/tags/v') }}
          name: "Release ${{ startsWith(github.ref, 'refs/tags/v') && github.ref_name || format('Nightly {0}', steps.sha.outputs.sha) }}"
          tag_name: ${{ startsWith(github.ref, 'refs/tags/v') && github.ref_name || format('nightly-{0}', steps.sha.outputs.sha) }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
